/Cargo.lock
/target
/tests/manual/real-world-binjgb/fixtures/*.gb
!/tests/manual/real-world-binjgb/fixtures/cgb-acid2.gbc
tests/**/generated/*
!tests/**/generated/.gitignore
/_tmp_*/
*.zip
/tests/manual/real-world-smollm2
/tests/manual/self-hosting-luanoffi-builder
