/Cargo.lock
/target
/tests/manual/generated/*
!/tests/manual/generated/.gitignore
/tests/manual/hash-compare/generated/*
!/tests/manual/hash-compare/generated/.gitignore
/tests/manual/float-compare/generated/*
!/tests/manual/float-compare/generated/.gitignore
/tests/manual/i64-compare/generated/*
!/tests/manual/i64-compare/generated/.gitignore
/tests/manual/real-world-miniz-full/generated/*
!/tests/manual/real-world-miniz-full/generated/.gitignore
/tests/manual/real-world-miniz-file/generated/*
!/tests/manual/real-world-miniz-file/generated/.gitignore
/tests/manual/real-archive-secret/generated/*
!/tests/manual/real-archive-secret/generated/.gitignore
/_tmp_*/
/tests/manual/real-world-binjgb/generated/*
!/tests/manual/real-world-binjgb/generated/.gitignore
/tests/manual/real-world-binjgb/fixtures/*.gb
!/tests/manual/real-world-binjgb/fixtures/cgb-acid2.gbc
/tests/manual/real-world-smollm2/generated/*
!/tests/manual/real-world-smollm2/generated/.gitignore
/tests
*.zip
